<div class="my">
  <h2>Take , TakeLast , TakeUntil</h2>
  <br />

  <div class="d-flex justify-content-center align-items-center">
    <p class="bg-light d-inline-block py-2 px-3 border rounded">
      <strong>Data : </strong>Roshan, Ramesh, Ghuge, Bhima, Madhuri , Rahul ,
      Kisan , Shobhit
    </p>
  </div>

  <div class="row">
    <div class="col-md-4">
      <strong>Ex - 01</strong>
      <hr />
      <p class="bg-light pt-2 pb-2 ps-2 border rounded">
        <strong>Take(5)</strong>
      </p>
      <br />
      <div class="card">
        <div class="card-body">
          <ul id="uILd"></ul>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <strong>Ex - 02</strong>
      <hr />
      <p class="bg-light pt-2 pb-2 ps-2 border rounded">
        <strong>TakeLast(5)</strong>
      </p>
      <br />
      <div class="card">
        <div class="card-body">
          <ul id="uILd1"></ul>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <strong>Ex - 03</strong>
      <hr />
      <p class="bg-light pt-2 pb-2 ps-2 border rounded">
        <strong>TakeUntil(5)</strong>
      </p>
      <br />
       <div class="card">
        <div class="card-body">
          <ul id="uILd2"></ul>
        </div>
      </div>
    </div>
  </div>
</div>
