<div class="my-3" [ngStyle]="{'color': style}">
  <h2>Tap</h2>
  <br />

  <div class="row">
    <div class="col-md-6">
      <strong>Ex - 01</strong>
      <hr />
      <p class="bg-light pt-2 pb-2 ps-2 border rounded">
        <strong>Tap : </strong>
      </p>
      <br />
      <div class="card">
        <div class="card-body">
          <ul id="uILd"></ul>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <strong>Ex - 02</strong>
      <hr />
      <p class="bg-light pt-2 pb-2 ps-2 border rounded">
        <strong>Tap : </strong>
      </p>
      <br />
       <div class="card">
        <div class="card-body">
          <ul id="uILd1"></ul>
        </div>
      </div>
    </div>
  </div>
</div>
