ul.video-List{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.video-List li{
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    background: #f8f9fa;
}