<div class="my-3">
  <h2>Merge Map</h2>
  <br>
  <div class="row">
    <div class="col-md-4">
      <strong>Ex - 01 | Map</strong>
      <hr />
      <p class="bg-light pt-2 pb-2 ps-2 border rounded">
        <strong>Tech Video List : </strong>['tech', 'comedy', 'news']
      </p>
      <br />
      <hr>
      <ul id="elId1"></ul>
    </div>

    <div class="col-md-4">
      <strong>Ex - 02 |  Map + mergeAll</strong>
      <hr />
      <p class="bg-light pt-2 pb-2 ps-2 border rounded">
        <strong>Videos List : </strong>['tech', 'comedy', 'news']
      </p>
      <br />
      <hr>
      <ul id="elId2"></ul>
    </div>
    <div class="col-md-4">
      <strong>Ex - 03 |   Merge Map</strong>
      <hr />
      <p class="bg-light pt-2 pb-2 ps-2 border rounded">
        <strong>Videos List : </strong>['tech', 'comedy', 'news']
      </p>
      <br />
      <hr>
      <ul id="elId3">
      </ul>
    </div>
  </div>
</div>
