<div class="my-3">
  <h2>Map</h2>
  <br />

  <div class="row">
    <div class="col-md-4">
      <strong>Ex - 01</strong>
      <hr />
      <p class="bg-light pt-2 pb-2 ps-2 border rounded">
        <strong>MAP : </strong>"Video" + Data
      </p>
      <br />
      <div class="card">
        <div class="card-header">List</div>
        <div class="card-body">
          <ul id="ulId"></ul>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <strong>Ex - 02</strong>
      <hr />
      <p class="bg-light pt-2 pb-2 ps-2 border rounded">
        <strong>MAP : </strong>'video' + Data * 10
      </p>
      <br />
      <div class="card">
        <div class="card-header">List</div>
        <div class="card-body">
          <ul id="ulId1"></ul>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <strong>Ex - 03</strong>
      <hr />
      <p class="bg-light pt-2 pb-2 ps-2 border rounded">
        <strong>MAP : </strong>Map Data
      </p>
      <br />
      <div class="card">
        <div class="card-header">List</div>
        <div class="card-body">
          <ul id="ulId2"></ul>
        </div>
      </div>
    </div>
  </div>
</div>
