<div class="my-3">
    <h2>Custom Observable</h2>

    <div class="row mt-2">
        <div class="col-md-6">
            <strong>Example 1 : (Manual)</strong>
            <hr>
            <ul id="ulId" [ngClass]="status == 'completed' ? 'completed' : status == 'error' ? 'error' : ''" class="techList">
               
            </ul>
        </div>
        <div class="col-md-6">
            <strong>Example 2 : (Custom Interval Observable)</strong>
            <hr>
            <ul id="ulId1" [ngClass]="customIntervalStatus == 'completed' ? 'completed' : customIntervalStatus == 'error' ? 'error' : ''" class="techList">
                  
            </ul>
        </div>
    </div>
    <hr>
    <br>
    <br>
    <div class="row">
        <div class="col-md-12">
            <strong>Example 3 : (Random Name)</strong>
            <hr>
            <p class="bg-light pt-2 pb-2 ps-2 border rounded"><strong>Data : </strong>Roshan , Ramesh , Ghuge , bhima , madhuri</p>
            <hr>
            <p>Current Name : <strong >{{name}}</strong></p>
            <span class="badge" [ngClass]="nameError == 'completed' ? 'bg-success' : nameError == 'error' ? 'bg-danger' : 'bg-primary'">{{nameError == 'completed' ? 'Success' : nameError == 'error' ? 'Error' : 'Running'}}</span>
        </div>
    </div>

</div>  