<div class="my-3">
    <h2>Off and From</h2>
    <strong class="pt-2">Ex -01 (OF)</strong>

    <div class="row mt-2">
        <div class="col-md-6">
            <p class=" pt-2 pb-2 ps-2 border rounded"><strong>Data : </strong>Of(Roshan , Ramesh , Ghuge)</p>
            <hr>
            <ul id="ulId"></ul>
        </div>
        <div class="col-md-6">
            <p class=" pt-2 pb-2 ps-2 border rounded"><strong>Data : </strong>Of(&#123; a:Roshan , b:Ramesh , c:Ghuge &#125;)</p>
            <hr>
            <ul>
                <span *ngFor="let item of msg | keyvalue">
                    <li><strong>{{item.key}}</strong> : {{item.value}}</li>
                </span>                
            </ul>
        </div>
    </div>

    <hr>
    <strong class="pt-2">Ex -02 (FROM)</strong>

    <div class="row mt-2">
        <div class="col-md-4">
            <strong>Array</strong>
            <hr>
            <p class=" pt-2 pb-2 ps-2 border rounded"><strong>Data : </strong>FROM(Roshan , Ramesh , Ghuge)</p>
            <hr>
            <ul id="ulIdFrom"></ul>
        </div>

        <div class="col-md-4">
            <strong>Promise to Observable</strong>
            <hr>
            <p class=" pt-2 pb-2 ps-2 border rounded"><strong>Data : </strong>Promise to Observable</p>
            <hr>
            <ul id="promise"></ul>
        </div>
        <div class="col-md-4">
            <strong>String</strong>
            <hr>
            <p class=" pt-2 pb-2 ps-2 border rounded"><strong>Data : </strong>String</p>
            <hr>
            <ul id="string"></ul>
        </div>
    </div>

</div>   
<br><br>
<div>
  <h2>Comparing <code>of</code> vs. <code>from</code> in RxJS</h2>
  
  <table>
    <thead>
      <tr>
        <th>Feature</th>
        <th><code>of</code></th>
        <th><code>from</code></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Input</td>
        <td>Any values (single or multiple)</td>
        <td>Array, Promise, Iterable, Observable</td>
      </tr>
      <tr>
        <td>Emits</td>
        <td>Whole value as-is</td>
        <td>Emits each item from the input sequentially</td>
      </tr>
      <tr>
        <td>Use case</td>
        <td>Static or synchronous data</td>
        <td>Async data or iterables (Promise, array, etc.)</td>
      </tr>
    </tbody>
  </table>
  
  <h3 class="mt-4">Interview Answer Template:</h3>
  <blockquote>
    <p>
      <code>of</code> and <code>from</code> are RxJS creation operators used to convert data into observables.
      <code>of</code> emits the entire value as-is, whether it’s a single value, object, or array.
      <code>from</code> breaks down iterables or promises into individual emissions.
      They’re useful when you want to work with different data sources in a reactive way.
    </p>
  </blockquote>
</div>
