<div class="my-3">
  <h2>Reply Subject</h2>
  <br />
  
  <div class="row">
    <div class="col">
        <h5 class="">{{!togle ? 'Add Video' : 'Interval Started'}}</h5>
    </div>
      <div class="col text-end">    
      <button class="btn btn-sm btn-warning" (click)="toggleMthod()">Toggle Method</button>
  </div>
  </div>

  <hr *ngIf="!togle">
  <div *ngIf="!togle" class="row d-flex justify-content-center">
    <div class="col-md-4">
      <div class="form-group row mb-2">
        <label class="col-sm-4 col-form-label">Add Video</label>
        <div class="col-sm-8">
          <input
            type="text"
            class="form-control"
            placeholder="Enter here"
            #inputText1
          />
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <button class="btn btn-primary btn-sm mt-1" (click)="getData(inputText1)">Add video</button>
    </div>
  </div>

  <hr />

  <div class="row">
    <div class="col-md-4">
      <strong>User - 01</strong>
      <hr />
      <ul class="video-List">
        <li *ngFor="let item of user1List"><strong>Video :</strong> {{item}}</li>
      </ul>
    </div>
    <div class="col-md-4">
      <strong>User - 02</strong>
      <hr />
      <ul class="video-List">
        <li *ngFor="let item of user2List"><strong>Video :</strong> {{item}}</li>
      </ul>
      <button class="btn" [ngClass]="subscribe2 ? 'btn-danger' : 'btn-success'" (click)="user2()">{{subscribe2 ? 'Unsubcribe' :'Subscribe'}}</button>
    </div>
    <div class="col-md-4">
      <strong>User - 03</strong>
      <hr />
      <ul class="video-List">
        <li *ngFor="let item of user3List"><strong>Video :</strong> {{item}}</li>
      </ul>
      <button class="btn" [ngClass]="subscribe3 ? 'btn-danger' : 'btn-success'" (click)="user3()">{{subscribe3 ? 'Unsubcribe' :'Subscribe'}}</button>
    </div>
  </div>
</div>
